<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="org.simalliance.openmobileapi.SMARTCARD"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EUICCProbe"
        tools:targetApi="31">

        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <!-- https://developer.android.com/reference/android/se/omapi/package-summary -->
        <package android:name="com.android.se" />
        <!-- https://github.com/seek-for-android -->
        <package android:name="org.simalliance.openmobileapi.service" />
        <!-- Google SIM Manager -->
        <package android:name="com.google.android.euicc" />
        <!-- MIUI LPA -->
        <package android:name="com.miui.euicc" />
        <!-- Samsung LPA -->
        <package android:name="com.samsung.euicc" />
        <!-- OpenEUICC -->
        <package android:name="im.angry.openeuicc" />
        <!-- EasyEUICC -->
        <package android:name="im.angry.easyeuicc" />
        <!-- Infineon LPA -->
        <package android:name="com.infineon.esim.lpa" />
        <!-- https://github.com/QueallyTech/OMAPI-Bypass -->
        <package android:name="com.queallytech.omapi" />
    </queries>
</manifest>